<a href="https://colab.research.google.com/github/Jose19-e/cyp_2021/blob/main/3_Diciembre_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# "Ejemplo1"
for  i in [1,2,3,4,5]:
  print(f"El elemento: {i} ")

El elemento: 1
El elemento: 2
El elemento: 3
El elemento: 4
El elemento: 5

In [2]:
coleccion = [1,2,3,4,5]
for  i in coleccion:
  print(f"El elemento: {i} ")

El elemento: 1
El elemento: 2
El elemento: 3
El elemento: 4
El elemento: 5

In [6]:
#Ejemplo 2 
coleccion = {"Mario":20,"Mariana":19, "Jessica":14, "Luis":18}
for i in coleccion:
  print(f"{coleccion[i]}")

20
19
14
18

In [7]:
#Ejemplo 2 
coleccion = {"Mario":20,"Mariana":19, "Jessica":14, "Luis":18}
for i in coleccion:
  print(f"{i}->{coleccion[i]}")

Mario->20
Mariana->19
Jessica->14
Luis->18

In [8]:

coleccion = {"Mario":20,"Mariana":19, "Jessica":14, "Luis":18}
for clave, valor in coleccion.items():
  print(f"{clave} - {valor}")

Mario - 20
Mariana - 19
Jessica - 14
Luis - 18

In [10]:
#Ejemplo 3
email = False
for i in "ariel@unam.mx":
  if (i =="@"):
    email = True
if email == True:
  print("El email es correcto")    
else:
  print("El email no es correcto")

El email es correcto

In [14]:
email = False
miEmail=input("Introduce tu correo")
for i in miEmail:
  if (i =="@"):
    email = True
if email:
  print("El email es correcto")    
else:
  print("El email no es correcto")

Introduce tu correoanita@unam.com
El email es correcto

In [15]:
#for-range
for i in range (5):
  print("Hola")

Hola
Hola
Hola
Hola
Hola

In [16]:
#for-range
for i in range (5):
  print(i)

0
1
2
3
4

In [17]:
for i in range (10):
  print(f"Valor de la variable {i}")

Valor de la variable 0
Valor de la variable 1
Valor de la variable 2
Valor de la variable 3
Valor de la variable 4
Valor de la variable 5
Valor de la variable 6
Valor de la variable 7
Valor de la variable 8
Valor de la variable 9

In [ ]:
#While ejemplo
#Ejemplo 1 
i = 1
while i <= 10:
print("EjecuciÃ³n" + str (i))

In [26]:
i = 1
while i <=10:
  print("Ejecucion " + str (i))
  i = i + 1 #Contador, incrementa en 1 a la variable

Ejecucion 1
Ejecucion 2
Ejecucion 3
Ejecucion 4
Ejecucion 5
Ejecucion 6
Ejecucion 7
Ejecucion 8
Ejecucion 9
Ejecucion 10

In [27]:
edad = int (input("Introduce tu edad: "))
while edad < 0:
  print("Has introducido una edad negativa, Intentalo de nuevo")
  edad = int (input("Introduce tu edad: "))
print("Gracias x participar")
print("Edad del aspirante: " + str (edad))

Introduce tu edad: -9
Has introducido una edad negativa, Intentalo de nuevo
Introduce tu edad: -4
Has introducido una edad negativa, Intentalo de nuevo
Introduce tu edad: 6
Gracias x participar
Edad del aspirante6

In [ ]:
edad = int (input("Introduce tu edad: "))
while edad < 10 or edad < 100:
  print("Has introducido una edad negativa, Intentalo de nuevo")
  edad = int (input("Introduce tu edad: "))
print("Gracias x participar")
print("Edad del aspirante: " + str (edad))

Introduce tu edad: 4
Has introducido una edad negativa, Intentalo de nuevo