<a href="https://colab.research.google.com/github/Jose19-e/cyp_2021/blob/main/Tarea_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Ejercicio 1.1

PREPRO = 0
PAGO = 0
DEVO = 0
PREPRO = float (input("Precio del producto "))
PAGO = float (input("Pago realizado "))
DEVO = PAGO - PREPRO
print(DEVO)

Precio del producto 86.25
Pago realizado 100
13.75

In [8]:
#Ejercicio 1.2
BASE = 0
ALTURA = 0
SUP = 0
BASE = float (input("Introduce la base del triángulo "))
ALTURA = float (input("Introduce la altura del triángulo "))
SUP = (BASE * ALTURA)/2
print(SUP)

Introduce la base del triángulo8.50
Introduce la altura del triángulo7.20
30.6

In [13]:
#Ejercicio 1.3
PES = 0
LON = 0
PESKIL = 0
LONMET = 0
NOMBRE = input("Nombre del dinosaurio : ")
PES = float (input("Peso del dinosaurio en lb "))
LON = float (input("Longitud del dinosaurio en pies "))
PESKIL = PES * 1000
LONMET = LON * 0.3047
print(f"Nombre del dinosaurio: {NOMBRE}")
print(f"Peso en kilogramos: {PESKIL}")
print(f"Longitud en metros: {LONMET}")

Nombre del dinosaurio : PLATEOSAURUS
Peso del dinosaurio en lb 5
Longitud del dinosaurio en pies 30
Nombre del dinosaurio: PLATEOSAURUS
Peso en kilogramos: 5000.0
Longitud en metros: 9.141

In [19]:
#Ejercicio 1.4
GAL = 0
TOTAL = 0
GAL = float (input("Introduzca el número de galones "))
TOTAL = (GAL * 3.785 * 8.20)
print(TOTAL)

Introduzca el número de galones 10.38
322.16406

In [25]:
#Ejercicio 1.5
RADIO = 0
ALTU = 0
RADIO = float (input("Radio del cilindro: "))
ALTU = float (input("Altura del cilindro: "))
VOL = 3.141592 * (RADIO ** 2) * ALTU
ARE = (2 * 3.141592) * RADIO * ALTU
print(f"El volumen es: {VOL}")
print(f"El área es: {ARE}")

Radio del cilindro: 45.22
Altura del cilindro: 11.60
El volumen es: 74519.32074597248
El área es: 3295.856733568

In [26]:
#Ejercicio 1.6
DIAS = 0
SEG = 0
DIAS = int (input("Número de días: "))
SEG = DIAS * 24 *60 *60
print(f"El equivalente en segundos es: {SEG}")

Número de días: 7
El equivalente en segundos es: 604800